apps/home/node-red/flows.json
[{"id":"a82a92ec2b5a35b0","type":"tab","label":"Bedroom temperature control","disabled":false,"info":"","env":[]},{"id":"9042157235261f47","type":"group","z":"a82a92ec2b5a35b0","name":"babyroom","style":{"label":true,"fill":"#b797cf","fill-opacity":"0.33","color":"#000000"},"nodes":["46707a1d7bb2d97b","3ee08c4f334acdd7","0ec4f476659ad8e6","87e87237e2cbf920","bfe8a34ce66ffde6","e61295ec97ce4c04","6b60fa1dc3fe9435","0df2168ce47e1078","0f4b5a96a85d9b59","7c2c1f65c5e95b47","cb301fc74d6164e1","9e79489a3cc1a309","7e160aea5ae943c3"],"x":374,"y":599,"w":852,"h":442},{"id":"88e823de372945de","type":"group","z":"a82a92ec2b5a35b0","name":"bedroom","style":{"fill":"#3f93cf","fill-opacity":"0.33","label":true,"color":"#000000"},"nodes":["687a4a91928d719c","d34a252148c83786","a90771a6d9a3d743","b953c148b75239a0","f6b7ff984ff118a1","e820f6f9d30472cc","6099727ab00eb22f","2344320d90e63192","d9d126d00a485f95","1e8c9b6e2889c90b","85eb6a810b13dd44","01138a5695db5125","ced717b531afbaeb","11999a344c2dfe5f","24f9b194fb16ddbc","983652488c4ebeef","dbd502b71d92d23b","20d1d2ed24ea3b1e","4e94d7efe9d71105","3aeeefaf146055ac","1fc4343243aed4bb"],"x":374,"y":39,"w":1252,"h":522},{"id":"687a4a91928d719c","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getTemperature","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.esp_02_bedroom_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"temperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":160,"wires":[["85eb6a810b13dd44"]]},{"id":"74c80f028931cd8c","type":"inject","z":"a82a92ec2b5a35b0","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":580,"wires":[["3ee08c4f334acdd7","a90771a6d9a3d743"]]},{"id":"d34a252148c83786","type":"switch","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"","property":"temperature","propertyType":"msg","rules":[{"t":"lt","v":"lower","vt":"msg"},{"t":"gt","v":"upper","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":120,"wires":[["1e8c9b6e2889c90b"],["b953c148b75239a0"]]},{"id":"a90771a6d9a3d743","type":"ha-switch","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"bedroomFlow","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"4b052d0fad3cc1e6","enableInput":true,"outputOnStateChange":false,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":470,"y":100,"wires":[["1fc4343243aed4bb"],[]]},{"id":"b953c148b75239a0","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"bedroomOff","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":160,"wires":[["d9d126d00a485f95"]]},{"id":"f6b7ff984ff118a1","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"bedroomOn","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":80,"wires":[[]]},{"id":"e820f6f9d30472cc","type":"switch","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"","property":"hour","propertyType":"msg","rules":[{"t":"gte","v":"start","vt":"msg"},{"t":"lt","v":"stop","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":320,"wires":[["687a4a91928d719c"],["687a4a91928d719c"],["6099727ab00eb22f"]]},{"id":"6099727ab00eb22f","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"bedroomOff","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":360,"wires":[["2344320d90e63192"]]},{"id":"2344320d90e63192","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"termoOn","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.termoacumulador"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":360,"wires":[[]]},{"id":"d9d126d00a485f95","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"termoOn","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.termoacumulador"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":160,"wires":[[]]},{"id":"1e8c9b6e2889c90b","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"termoOff","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.termoacumulador"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":80,"wires":[["f6b7ff984ff118a1"]]},{"id":"46707a1d7bb2d97b","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"getTemperature","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.esp_02_babyroom_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"temperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":720,"wires":[["6b60fa1dc3fe9435"]]},{"id":"3ee08c4f334acdd7","type":"ha-switch","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"babyroomFlow","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"b6b3f764ccbd9a94","enableInput":true,"outputOnStateChange":false,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":480,"y":760,"wires":[["46707a1d7bb2d97b"],[]]},{"id":"0ec4f476659ad8e6","type":"switch","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"","property":"temperature","propertyType":"msg","rules":[{"t":"lt","v":"lower","vt":"msg"},{"t":"gt","v":"upper","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":680,"wires":[["bfe8a34ce66ffde6"],["87e87237e2cbf920"]]},{"id":"87e87237e2cbf920","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"bedroomOff","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.babyroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":720,"wires":[[]]},{"id":"bfe8a34ce66ffde6","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"bedroomOn","server":"562581661d5eee2d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.babyroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":640,"wires":[[]]},{"id":"e61295ec97ce4c04","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"getUpperBound","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.babyroom_upper_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"upper","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":840,"wires":[["0ec4f476659ad8e6"]]},{"id":"6b60fa1dc3fe9435","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"getLowerBound","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.babyroom_lower_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"lower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":780,"wires":[["e61295ec97ce4c04"]]},{"id":"0df2168ce47e1078","type":"server-state-changed","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"LowerBoundChange","server":"562581661d5eee2d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.babyroom_lower_bound","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":550,"y":920,"wires":[["0f4b5a96a85d9b59"]]},{"id":"0f4b5a96a85d9b59","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"getUpperBound","server":"562581661d5eee2d","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"lt","entity_id":"input_number.babyroom_upper_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":920,"wires":[["7c2c1f65c5e95b47"],[]]},{"id":"9e79489a3cc1a309","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"getLowerBound","server":"562581661d5eee2d","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"gt","entity_id":"input_number.babyroom_lower_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":1000,"wires":[["7e160aea5ae943c3"],[]]},{"id":"cb301fc74d6164e1","type":"server-state-changed","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"UpperBoundChange","server":"562581661d5eee2d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.babyroom_upper_bound","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":550,"y":1000,"wires":[["9e79489a3cc1a309"]]},{"id":"7e160aea5ae943c3","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"setLowerBound","server":"562581661d5eee2d","version":5,"debugenabled":true,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.babyroom_lower_bound"],"data":"{\"value\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":980,"wires":[[]]},{"id":"7c2c1f65c5e95b47","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"9042157235261f47","name":"setUpperBound","server":"562581661d5eee2d","version":5,"debugenabled":true,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.babyroom_upper_bound"],"data":"{\"value\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":900,"wires":[[]]},{"id":"85eb6a810b13dd44","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getLowerBound","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.bedroom_lower_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"lower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":220,"wires":[["01138a5695db5125"]]},{"id":"01138a5695db5125","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getUpperBound","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.bedroom_upper_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"upper","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":280,"wires":[["d34a252148c83786"]]},{"id":"ced717b531afbaeb","type":"server-state-changed","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"UpperBoundChange","server":"562581661d5eee2d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.bedroom_upper_bound","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":650,"y":460,"wires":[["11999a344c2dfe5f"]]},{"id":"11999a344c2dfe5f","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getLowerBound","server":"562581661d5eee2d","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"gt","entity_id":"input_number.bedroom_lower_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":460,"wires":[["24f9b194fb16ddbc"],[]]},{"id":"24f9b194fb16ddbc","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"setLowerBound","server":"562581661d5eee2d","version":5,"debugenabled":true,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bedroom_lower_bound"],"data":"{\"value\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":440,"wires":[[]]},{"id":"983652488c4ebeef","type":"server-state-changed","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"LowerBoundChange","server":"562581661d5eee2d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.bedroom_lower_bound","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":650,"y":520,"wires":[["dbd502b71d92d23b"]]},{"id":"dbd502b71d92d23b","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getUpperBound","server":"562581661d5eee2d","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"lt","entity_id":"input_number.bedroom_upper_bound","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":520,"wires":[["20d1d2ed24ea3b1e"],[]]},{"id":"20d1d2ed24ea3b1e","type":"api-call-service","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"setUpperBound","server":"562581661d5eee2d","version":5,"debugenabled":true,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bedroom_upper_bound"],"data":"{\"value\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":500,"wires":[[]]},{"id":"4e94d7efe9d71105","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getStartHour","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.bedroom_start_hour","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"start","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":260,"wires":[["3aeeefaf146055ac"]]},{"id":"3aeeefaf146055ac","type":"api-current-state","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getStopHour","server":"562581661d5eee2d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.bedroom_stop_hour","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stop","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":320,"wires":[["e820f6f9d30472cc"]]},{"id":"1fc4343243aed4bb","type":"function","z":"a82a92ec2b5a35b0","g":"88e823de372945de","name":"getHours","func":"var dt = new Date(msg.payload);\nreturn { \"hour\": dt.getHours()};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":200,"wires":[["4e94d7efe9d71105"]]},{"id":"562581661d5eee2d","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"4b052d0fad3cc1e6","type":"ha-entity-config","server":"562581661d5eee2d","deviceConfig":"","name":"bedroom flow","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"bedroom_flow"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"b6b3f764ccbd9a94","type":"ha-entity-config","server":"562581661d5eee2d","deviceConfig":"","name":"Babyroom Flow","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"babyroom_flow"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false}]
