apps/home-monitoring/node-red/flows.json
[
    {
        "id": "a82a92ec2b5a35b0",
        "type": "tab",
        "label": "Bedroom temperature control",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d7936efd6c8299cd",
        "type": "tab",
        "label": "humidity alarm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a6526f3a8b398f9",
        "type": "tab",
        "label": "termoacumulador flow",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "06f4fca28563c6cc",
        "type": "tab",
        "label": "Remote buttons",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "562581661d5eee2d",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "4b052d0fad3cc1e6",
        "type": "ha-entity-config",
        "server": "562581661d5eee2d",
        "deviceConfig": "",
        "name": "bedroom flow",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "bedroom_flow"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false
    },
    {
        "id": "37fd6bc1795dd0b4",
        "type": "ha-entity-config",
        "server": "562581661d5eee2d",
        "deviceConfig": "",
        "name": "termoacumulador flow",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "termoacumulador flow"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false
    },
    {
        "id": "cf332497498d57b2",
        "type": "ha-entity-config",
        "server": "562581661d5eee2d",
        "deviceConfig": "",
        "name": "power all",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "power_all"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false
    },
    {
        "id": "687a4a91928d719c",
        "type": "api-current-state",
        "z": "a82a92ec2b5a35b0",
        "name": "getTemperature",
        "server": "562581661d5eee2d",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.esp_ble2ha_bedroom_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "temperature",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "d34a252148c83786"
            ]
        ]
    },
    {
        "id": "74c80f028931cd8c",
        "type": "inject",
        "z": "a82a92ec2b5a35b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "1fc4343243aed4bb"
            ]
        ]
    },
    {
        "id": "1fc4343243aed4bb",
        "type": "function",
        "z": "a82a92ec2b5a35b0",
        "name": "getHours",
        "func": "var dt = new Date(msg.payload);\nreturn { \"payload\": dt.getHours()};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "a90771a6d9a3d743"
            ]
        ]
    },
    {
        "id": "d34a252148c83786",
        "type": "switch",
        "z": "a82a92ec2b5a35b0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "19.5",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "1e8c9b6e2889c90b"
            ],
            [
                "b953c148b75239a0"
            ]
        ]
    },
    {
        "id": "a90771a6d9a3d743",
        "type": "ha-switch",
        "z": "a82a92ec2b5a35b0",
        "name": "bedroomFlow",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "4b052d0fad3cc1e6",
        "enableInput": true,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "e820f6f9d30472cc"
            ],
            []
        ]
    },
    {
        "id": "b953c148b75239a0",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn bedroom off",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bedroom"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "d9d126d00a485f95"
            ]
        ]
    },
    {
        "id": "f6b7ff984ff118a1",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn bedroom on",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bedroom"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e820f6f9d30472cc",
        "type": "switch",
        "z": "a82a92ec2b5a35b0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "687a4a91928d719c"
            ],
            [
                "687a4a91928d719c"
            ],
            [
                "6099727ab00eb22f"
            ]
        ]
    },
    {
        "id": "6099727ab00eb22f",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn bedroom off",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bedroom"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "2344320d90e63192"
            ]
        ]
    },
    {
        "id": "ef497248a5a92067",
        "type": "comment",
        "z": "a82a92ec2b5a35b0",
        "name": "",
        "info": "heat the bedroom only at night\n",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "2344320d90e63192",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn termo on",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.termoacumulador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1050,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d126d00a485f95",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn termo on",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.termoacumulador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1e8c9b6e2889c90b",
        "type": "api-call-service",
        "z": "a82a92ec2b5a35b0",
        "name": "turn termo off",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.termoacumulador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "f6b7ff984ff118a1"
            ]
        ]
    },
    {
        "id": "8405fc3f1f3e94c5",
        "type": "api-call-service",
        "z": "d7936efd6c8299cd",
        "name": "",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "telegram_bot",
        "service": "send_message",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": msg.payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "724a762bf95a79f9",
        "type": "function",
        "z": "d7936efd6c8299cd",
        "name": "function 1",
        "func": "var sensor_bedroom = \"sensor.bedroom_govee_hum\"\nvar sensor_living_room = \"sensor.living_room_govee_hum\"\nvar sensor_kitchen = \"sensor.kitchen_humidity\"\nvar sensor_office = \"sensor.office_humidity\"\nvar location;\n\nif (msg.entity == sensor_bedroom) {\n    location = \"Bedroom\";\n} else if (msg.entity == sensor_living_room) {\n    location = \"Living Room\";\n} else if (msg.entity == sensor_kitchen) {\n    location = \"Kitchen\";\n} else if (msg.entity == sensor_office) {\n    location = \"Office\";\n}\n\nvar new_msg = {\n    payload: location + \" humidity is \" + msg.payload \n}\n\nreturn new_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "8405fc3f1f3e94c5"
            ]
        ]
    },
    {
        "id": "d56e8e6ecb5dbb1a",
        "type": "inject",
        "z": "d7936efd6c8299cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "ad524986bd81ce09",
                "bdc89e61b3809191",
                "28d56567da5de880",
                "3085fdd6a595dfe0"
            ]
        ]
    },
    {
        "id": "ad524986bd81ce09",
        "type": "api-current-state",
        "z": "d7936efd6c8299cd",
        "name": "getHumidity",
        "server": "562581661d5eee2d",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.bedroom_govee_hum",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "entity",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "724a762bf95a79f9"
            ],
            []
        ]
    },
    {
        "id": "bdc89e61b3809191",
        "type": "api-current-state",
        "z": "d7936efd6c8299cd",
        "name": "getHumidity",
        "server": "562581661d5eee2d",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.living_room_govee_hum",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "entity",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "724a762bf95a79f9"
            ],
            []
        ]
    },
    {
        "id": "28d56567da5de880",
        "type": "api-current-state",
        "z": "d7936efd6c8299cd",
        "name": "getHumidity",
        "server": "562581661d5eee2d",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.kitchen_humidity",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "entity",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "724a762bf95a79f9"
            ],
            []
        ]
    },
    {
        "id": "3085fdd6a595dfe0",
        "type": "api-current-state",
        "z": "d7936efd6c8299cd",
        "name": "getHumidity",
        "server": "562581661d5eee2d",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.office_humidity",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "entity",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "724a762bf95a79f9"
            ],
            []
        ]
    },
    {
        "id": "e677c298d8ba062a",
        "type": "inject",
        "z": "3a6526f3a8b398f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "cfae41cbc10d6562"
            ]
        ]
    },
    {
        "id": "cfae41cbc10d6562",
        "type": "function",
        "z": "3a6526f3a8b398f9",
        "name": "getHours",
        "func": "var dt = new Date(msg.payload);\nreturn { \"payload\": dt.getHours()};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "6803b4c4573d5f24"
            ]
        ]
    },
    {
        "id": "6803b4c4573d5f24",
        "type": "ha-switch",
        "z": "3a6526f3a8b398f9",
        "name": "termoacumuladorFlow",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "37fd6bc1795dd0b4",
        "enableInput": true,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "7b6f3ad70c0e0dc4"
            ],
            []
        ]
    },
    {
        "id": "7b6f3ad70c0e0dc4",
        "type": "switch",
        "z": "3a6526f3a8b398f9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "3",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "4ed089d5ca10875e"
            ],
            [
                "bad85ce3ad3d0c6a"
            ]
        ]
    },
    {
        "id": "bad85ce3ad3d0c6a",
        "type": "api-call-service",
        "z": "3a6526f3a8b398f9",
        "name": "",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.termoacumulador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1060,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4ed089d5ca10875e",
        "type": "api-call-service",
        "z": "3a6526f3a8b398f9",
        "name": "",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.termoacumulador"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1060,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fd43127d46ac0976",
        "type": "comment",
        "z": "3a6526f3a8b398f9",
        "name": "",
        "info": "termoacumulator only heats at night",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "255bb1808b731bf2",
        "type": "ha-button",
        "z": "06f4fca28563c6cc",
        "name": "powerAll",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "cf332497498d57b2",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 160,
        "y": 420,
        "wires": [
            [
                "b21ff6c3b0c336c3"
            ]
        ]
    },
    {
        "id": "b21ff6c3b0c336c3",
        "type": "api-call-service",
        "z": "06f4fca28563c6cc",
        "name": "",
        "server": "562581661d5eee2d",
        "version": 5,
        "debugenabled": false,
        "domain": "",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.universal_remote"
        ],
        "data": "{\"device\":\"receiver\",\"command\":\"power\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 350,
        "y": 420,
        "wires": [
            []
        ]
    }
]
